
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header1">
                        <a mat-button routerLink="/CreateQualityPlan" routerLinkActive="active">Create Quality Plan</a>
                    </div>
                    <div class="card-body">
                        <a class="card-title">Test Case Quality Plan approach</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header2">
                        <a mat-button routerLink="/QualityPlans" routerLinkActive="active">Quality Plans</a>
                    </div>
                    <div class="card-body">
                        <a class="card-title">List of Quality Plans created</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header3">
                        <a mat-button routerLink="/add-result" routerLinkActive="active">Input Results</a>
                    </div>
                    <div class="card-body">
                        <a class="card-title">Input the Quality Assessment results</a>
                        
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header4">
                            <a mat-button routerLink="/results-list" routerLinkActive="active">Assessment Results</a>
                        </div>
                        <div class="card-body">
                            <a class="card-title"></a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header5">
                            <a mat-button routerLink="/Documentation" routerLinkActive="active">Documentation</a>
                        </div>
                        <div class="card-body">
                            <a class="card-title">Technical Details of TCQA process</a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header6">
                            <a mat-button routerLink="/Tools" routerLinkActive="active">Tools</a>
                        </div>
                        <div class="card-body">
                            <a class="card-title">List of Quality Attributes and their Tools</a>
                            
                        </div>
                    </div>
                </div>
                </div>
    </div>
</div>
<div class="col-6">
<button mat-raised-button color="primary" type="button" (click)="showfunction()">More Info</button>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 chart">
            <mat-card style="height:400px; display: grid; margin:7px 0px 7px 0px !important;">
                <mat-card-content style="padding-bottom: 0px">
                    <ngx-charts-bar-vertical
                                                [results]="dataChart1"
                                                [legend]="showLegend"
                                                [customColors]="customColors"
                                                [xAxis]="showXAxis"
                                                [yAxis]="showYAxis"
                                                [xAxisLabel]="xAxisLabelChart1"
                                                [yAxisLabel]="yAxisLabelAllCharts"
                                                [showXAxisLabel]="showXAxis"
                                                [showYAxisLabel]="showYAxis"
                                                [yScaleMin]="yScaleMin"
                                                [yScaleMax]="yScaleMax"
                                                [yAxisTicks]="yAxisTicks"
                                                [activeEntries]="highlightedChart1"
                                                (activate)="onInteractChart1($event)"
                                                (deactivate)="onDeactivate($event)">
                                        </ngx-charts-bar-vertical>
                </mat-card-content>
            </mat-card>
        </div>

            <div class="col-6 chart" *ngIf="show">
            <mat-card style="height:400px; display: grid; margin:7px 0px 7px 0px !important;">
                <mat-card-content style="padding-bottom: 0px">
                    
                        <ngx-charts-bar-vertical
                                [results]="dataChart2"
                                [legend]="showLegend"
                                [customColors]="customColors"
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [xAxisLabel]="xAxisLabelChart2"
                                [yAxisLabel]="yAxisLabelAllCharts"
                                [showXAxisLabel]="showXAxis"
                                [showYAxisLabel]="showYAxis"
                                [yScaleMin]="yScaleMin"
                                [yScaleMax]="yScaleMax"
                                [yAxisTicks]="yAxisTicks"
                                [activeEntries]="highlightedChart2"
                                (activate)="onInteractChart2($event)"
                                (deactivate)="onDeactivate($event)">
                        </ngx-charts-bar-vertical>                
                
                
                </mat-card-content>
            
            </mat-card>
        </div>


</div>
<div class="row" *ngIf="show">
    <div class="col-6 chart">
        <mat-card style="height:400px; display: grid; margin:7px 0px 7px 0px !important;">
            <mat-card-content style="padding-bottom: 0px">
        <ngx-charts-bar-vertical
                [results]="dataChart3"
                [legend]="showLegend"
                [customColors]="customColors"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [xAxisLabel]="xAxisLabelChart3"
                [yAxisLabel]="yAxisLabelAllCharts"
                [showXAxisLabel]="showXAxis"
                [showYAxisLabel]="showYAxis"
                [yScaleMin]="yScaleMin"
                [yScaleMax]="yScaleMax"
                [yAxisTicks]="yAxisTicks"
                [activeEntries]="highlightedChart3"
                (activate)="onInteractChart3($event)"
                (deactivate)="onDeactivate($event)">
        </ngx-charts-bar-vertical>
    </mat-card-content>
            
</mat-card>
    </div>
</div>
</div>

<!-- 



<div class="container" style="margin-top: 5px;">
    <div class="row">
     
            <div class="col-6 chart">
            <ngx-charts-bar-vertical
                    [results]="dataChart1"
                    [legend]="showLegend"
                    [customColors]="customColors"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [xAxisLabel]="xAxisLabelChart1"
                    [yAxisLabel]="yAxisLabelAllCharts"
                    [showXAxisLabel]="showXAxis"
                    [showYAxisLabel]="showYAxis"
                    [yScaleMin]="yScaleMin"
                    [yScaleMax]="yScaleMax"
                    [yAxisTicks]="yAxisTicks"
                    [activeEntries]="highlightedChart1"
                    (activate)="onInteractChart1($event)"
                    (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical>
    </div>
        <div class="col-6 chart" *ngIf="show">
            <ngx-charts-bar-vertical
                    [results]="dataChart2"
                    [legend]="showLegend"
                    [customColors]="customColors"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [xAxisLabel]="xAxisLabelChart2"
                    [yAxisLabel]="yAxisLabelAllCharts"
                    [showXAxisLabel]="showXAxis"
                    [showYAxisLabel]="showYAxis"
                    [yScaleMin]="yScaleMin"
                    [yScaleMax]="yScaleMax"
                    [yAxisTicks]="yAxisTicks"
                    [activeEntries]="highlightedChart2"
                    (activate)="onInteractChart2($event)"
                    (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical>
    
    </div>
</div>
    <div class="col" *ngIf="show">
        <div class="col-8 chart">
            <ngx-charts-bar-vertical
                    [results]="dataChart3"
                    [legend]="showLegend"
                    [customColors]="customColors"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [xAxisLabel]="xAxisLabelChart3"
                    [yAxisLabel]="yAxisLabelAllCharts"
                    [showXAxisLabel]="showXAxis"
                    [showYAxisLabel]="showYAxis"
                    [yScaleMin]="yScaleMin"
                    [yScaleMax]="yScaleMax"
                    [yAxisTicks]="yAxisTicks"
                    [activeEntries]="highlightedChart3"
                    (activate)="onInteractChart3($event)"
                    (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical>
        </div>
</div> -->







            













<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <div class="example">
    <mat-grid-tile>
        <a mat-button routerLink="/Create Quality Plan" routerLinkActive="active">Create Quality Plan</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-button routerLink="/Quality Plans" routerLinkActive="active">Quality Plans</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-button routerLink="/add-result" routerLinkActive="active">Input Results</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-button routerLink="/results-list" routerLinkActive="active">Executions</a>
    </mat-grid-tile>
</div>
  </mat-grid-list> -->











 
