
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header1">
                        <a mat-button routerLink="/CreateQualityPlan" routerLinkActive="active">Create Quality Plan</a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Test Case Quality Plan approach</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header2">
                        <a mat-button routerLink="/QualityPlans" routerLinkActive="active">Quality Plans</a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">List of Quality Plans created</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header3">
                        <a mat-button routerLink="/add-result" routerLinkActive="active">Input Results</a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Input the Quality Assessment results</h4>
                        
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header4">
                            <a mat-button routerLink="/results-list" routerLinkActive="active">Executions</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">List of Executions with Results</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header5">
                            <a mat-button routerLink="/Documentation" routerLinkActive="active">Documentation</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Technical Details of TCQA process</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header6">
                            <a mat-button routerLink="/Tools" routerLinkActive="active">Tools</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">List of Quality Attributes and their Tools</h4>
                            
                        </div>
                    </div>
                </div>
                </div>
    </div>
</div>













<!-- <div class="container margin-tp">

    <div class="row">
    <div class="col-sm-12">
        <br>
        <br>
        <h1 align="center">Quality Assessment Process Overview</h1> 
<img alig="center" src="/assets/images/Capture.PNG" alt="image"> 

</div>
    </div>
    </div> -->



<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <div class="example">
    <mat-grid-tile>
        <a mat-button routerLink="/Create Quality Plan" routerLinkActive="active">Create Quality Plan</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-button routerLink="/Quality Plans" routerLinkActive="active">Quality Plans</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-button routerLink="/add-result" routerLinkActive="active">Input Results</a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-button routerLink="/results-list" routerLinkActive="active">Executions</a>
    </mat-grid-tile>
</div>
  </mat-grid-list> -->











 
