.example-container-three>* {
    width: 20%;
}

.font {
    font-weight: 500;
}

.fill-remaining-space {
    flex: 0.5 auto;
}

.mat-raised-button {
    background-color: #00205b;
    color: white;
}

.process-overview {
    width: 100%;
    margin-top: 20px !important;
}

.info-btn {
    cursor: pointer !important;
    height: 35px !important;
}

.sicp-dark-blue {
    background-color: #00205b !important;
    color: white !important;
}

.sicp-light-blue {
    background-color: #18b0e2 !important;
    color: white !important;
}

.sicp-orange {
    background-color: #f1971b !important;
    color: white !important;
}

.mat-card {
    padding: 8px !important;
    border-radius: 6px !important;
}

.dashboard-card {
    width: 500px;
    margin-top: 10px;
}

.dashboard-card .mat-card-header {
    min-height: 75px !important;
}

.card-title {
    font-size: medium !important;
}

.mat-card-title {
    margin: 10px 15px !important;
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
