
.container-three {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-three>* {
    width: 180px;
}

.container-80 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-80>* {
    width: 100%;
}

.assessment-input-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assessment-field {
    width: 100%;
}

.quality-attr-container {
    display: block;
    width: 100%;
}

.container-fluid2 {
    width: 40%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}

