<mat-nav-list>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="home">Home</a>

    <h2 matSubheader>Quality Plans</h2>
 
    <!-- <a mat-button routerLinkActive="active" routerLink="/add-result">Input Results</a>
    <a mat-button routerLinkActive="active" routerLink="/results-list">Executions</a>  -->
    
    
    <a mat-list-item routerLinkActive="active" routerLink="/CreateQualityPlan">Create Quality Plan</a>
    <a mat-list-item routerLinkActive="active" routerLink="/QualityPlans">List of Quality Plans</a>
    
    <h2 matSubheader>Quality Assessments</h2>
    <a mat-list-item routerLinkActive="active" routerLink="/results-list">List of Assessment Results</a>
    <a mat-list-item routerLinkActive="active" routerLink="/add-result">Add Assessment Result</a>

    
<!-- 
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>