<form [formGroup]="qualityForm" (ngSubmit)="onSubmit(qualityForm)">

    <input type="hidden" class="form-control" id="_id" formControlName="_id">

    <br>

    <div class="example-container-three">
        <mat-form-field>
            <input type="text" class="form-control" id="qualityPlanName" formControlName="qualityPlanName" matInput
                placeholder="Quality Plan Name">

        </mat-form-field>
    </div>

    <br>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Characterization of Context
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="example-container">

                <mat-grid-list cols="4" rowHeight="100px">

                    <mat-grid-tile>
                        <mat-form-field>
                            <input type="text" class="form-control" id="testObject" formControlName="testObject"
                                matInput placeholder="Test Object">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input type="text" class="form-control" id="testItem" formControlName="testItem" matInput
                                placeholder="Test Item">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input type="text" class="form-control" id="testSuite" formControlName="testSuite" matInput
                                placeholder="Test Suite">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select matInput placeholder="Test Level" class="form-control" id="testLevels"
                                formControlName="testLevels">
                                <mat-option *ngFor="let testLevel of qpa.testLevelsArray" value="{{testLevel}}">
                                    {{testLevel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select matInput placeholder="Test Case Type" class="form-control" id="testCaseType"
                                formControlName="testCaseType">
                                <mat-option *ngFor="let tct of qpa.testCaseTypeArray" value="{{tct}}">
                                    {{tct}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select matInput placeholder="Development Phase" class="form-control"
                                id="developmentPhase" formControlName="developmentPhase">
                                <mat-option *ngFor="let dpa of qpa.developmentPhaseArray" value="{{dpa}}">
                                    {{dpa}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input type="text" class="form-control" id="sourceTestingFramework"
                                formControlName="sourceTestingFramework" matInput
                                placeholder="Source Testing Framework">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input type="text" class="form-control" id="targetTestingFramework"
                                formControlName="targetTestingFramework" matInput
                                placeholder="Target Testing Framework">
                        </mat-form-field>
                    </mat-grid-tile>

                </mat-grid-list>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Identification of Information Needs
                </mat-panel-title>
            </mat-expansion-panel-header>


            <div class="example-container-two" formArrayName="goalArray"
                *ngFor="let item of qualityForm.get('goalArray').controls; let i=index;">

                <mat-grid-list cols="6" rowHeight="100px">
                    <div [formGroupName]="i">

                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput class="form-control" formControlName="objectOfStudy" id="objectOfStudy"
                                    placeholder="Object of Study">

                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field>
                                <mat-select matInput placeholder="Purpose" class="form-control" id="purpose"
                                    formControlName="purpose">
                                    <mat-option *ngFor="let pa of qpa.purposeArray" value="{{pa}}">
                                        {{pa}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput class="form-control" formControlName="qualityFocus" id="qualityFocus"
                                    placeholder="Quality Focus">

                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput class="form-control" formControlName="viewpoint" id="viewpoint"
                                    placeholder="Viewpoint">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput class="form-control" formControlName="context" id="context"
                                    placeholder="Context">

                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <button mat-raised-button color="warn" type="button" (click)="removeGoal(i)">Remove
                                Goal</button>

                        </mat-grid-tile>
                    </div>
                </mat-grid-list>
            </div>

            <div class="example-container-three">
                <button mat-raised-button class="btn btn-default" type="button" (click)="addGoal()">Add Goal</button>
            </div>
            <br>

            <div formArrayName="questionArray"
                *ngFor="let item of qualityForm.get('questionArray').controls; let i=index;">
                <div class="example-container-four" [formGroupName]="i">
                    <mat-form-field>
                        <input matInput class="form-control" formControlName="question" id="question"
                            placeholder="Question {{i+1}}">

                    </mat-form-field>
                </div>
                <div class="example-container-five">
                    <button align="center" mat-raised-button color="warn" type="button"
                        (click)="removeQuestion(i)">Remove Question</button>
                    <br>
                </div>
            </div>
            <br>

            <div class="example-container-three">
                <button mat-raised-button class="btn btn-default" type="button" (click)="addQuestion()">Add
                    Question</button>
            </div>

        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Definition of Quality Understanding
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div formArrayName="QualityCharacteristics">
                <div *ngFor="let item of qualityForm['controls'].QualityCharacteristics['controls']; let iqc=index;">
                    <div formGroupName="{{iqc}}" class="QualityCharacteristics">
                        <mat-form-field>
                            <mat-select matInput placeholder="Quality Characteristic"
                                formControlName="qualityCharacteristic">
                                <mat-option *ngFor="let qc of qpa.QualityCharacteristics1" value="{{qc}}">
                                    {{qc}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div formArrayName="qualitySubCharacteristics">
                            <div
                                *ngFor="let item2 of item['controls'].qualitySubCharacteristics['controls']; let iqsc=index">
                                <div formGroupName="{{iqsc}}" class="qualitySubCharacteristics">
                                    <mat-form-field>
                                        <mat-select matInput placeholder="Quality Sub Characteristic"
                                            formControlName="qualitySubCharacteristic">
                                            <mat-optgroup *ngFor="let qualityaspect of qualityAspects"
                                                [label]="qualityaspect.qc">
                                                <mat-option *ngFor="let qualitySC of qualityaspect.qbc"
                                                    value="{{qualitySC}}">
                                                    {{qualitySC}}
                                                </mat-option>
                                            </mat-optgroup>
                                        </mat-select>
                                    </mat-form-field>

                                    <div formArrayName="qualityAttributes">
                                        <div
                                            *ngFor="let item3 of item2['controls'].qualityAttributes['controls']; let iqa=index">
                                            <div formGroupName="{{iqa}}" class="qualityAttributes">

                                                <mat-form-field>
                                                    <input matInput class="form-control"
                                                        formControlName="qualityAttribute" id="qualityAttribute"
                                                        placeholder="Quality Attribute">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button class="btn btn-default" type="button"
                                            (click)="addQA(iqc,iqsc)">Add Quality
                                            Attribute</button>
                                        <button mat-raised-button class="btn btn-default" color="warn" type="button"
                                            (click)="removeQA(iqc,iqsc)">Remove
                                            Quality Attribute</button>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>

                            <button mat-raised-button class="btn btn-default" type="button" (click)="addQSC(iqc)">Add
                                Quality
                                Sub Characteristic</button>
                            <button mat-raised-button class="btn btn-default" color="warn" type="button"
                                (click)="removeQSC(iqc)">Remove
                                Quality Sub Characteristic</button>
                            <br>
                            <br>
                        </div>


                        <button mat-raised-button class="btn btn-default" type="button" (click)="addQC()">Add Quality
                            Characteristic</button>
                        <button mat-raised-button class="btn btn-default" color="warn" type="button"
                            (click)="removeQC(iqc)">Remove
                            Quality Characteristic</button>
                        <br>
                        <br>
                    </div>
                </div>



            </div>
        </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Definition of Measurements
                </mat-panel-title>
            </mat-expansion-panel-header>

            <br>
            <div class="example-container-three">
                <mat-form-field>
                    <input type="text" class="form-control" id="thresholdValue" formControlName="thresholdValue" matInput
                        placeholder="Threshold Score">
        
                </mat-form-field>
            </div>
            <br>


            <div formArrayName="measurementArray"
                *ngFor="let item of qualityForm.get('measurementArray').controls; let i=index;">
                <div class="example-container-four" [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <input matInput class="form-control" formControlName="name" id="name" placeholder="Name">
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill">
                        <input matInput class="form-control" formControlName="informalDefinition"
                            id="informalDefinition" placeholder="Informal Definition">
                        <textarea matInput></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-select matInput placeholder="Measurement Type" class="form-control" id="measurementType"
                            formControlName="measurementType">
                            <mat-option *ngFor="let mt of qpa.measurementTypeArray" value="{{mt}}">
                                {{mt}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput class="form-control" formControlName="measurementMethod" id="measurementMethod"
                            placeholder="Measurement Method">
                        <textarea matInput></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-select matInput placeholder="Scale Type" class="form-control" id="scaleType"
                            formControlName="scaleType">
                            <mat-option *ngFor="let st of qpa.scaleTypeArray" value="{{st}}">
                                {{st}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput class="form-control" formControlName="scaleRange" id="scaleRange"
                            placeholder="Scale Range">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <input matInput class="form-control" formControlName="interpretation" id="interpretation"
                            placeholder="Interpretation">
                    </mat-form-field>

                </div>
                <div class="example-container-five">
                    <button align="center" mat-raised-button color="warn" type="button"
                        (click)="removeMeasurement(i)">Remove Measure</button>
                    <br>
                </div>
            </div>

            <div class="example-container-three">
                <button mat-raised-button class="btn btn-default" type="button" (click)="addMeasurement()">Add New
                    Measure</button>
            </div>



        </mat-expansion-panel>
    </mat-accordion>

    <br>
    <br>
    <div class="example-container-three">
        <br>

        <button mat-raised-button color="warn" type="button" (click)="reset(qualityForm)">Reset</button>
        <br>
        <button mat-raised-button color="primary" type="submit">Save Plan</button>
    </div>


</form>