.new-tool-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.new-tool-container>* {
    width: 20%;
}

.container-fluid {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.card {
    border: 0;
    margin-bottom: 2px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card .card-category:not([class*="text-"]) {
    color: #999999;
}

.card .card-category {
    margin-top: 10px;
}

.card .card-category .material-icons {
    position: relative;
    top: 8px;
    line-height: 0;
}

.card .form-check {
    margin-top: 15px;
}

.card .card-title {
    margin-top: 0.625rem;
}

.card .card-title:last-child {
    margin-bottom: 0;
}

.card.no-shadow .card-header-image,
.card.no-shadow .card-header-image img {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.card.bmd-card-raised {
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
    .card.bmd-card-flat {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.card .card-header {
    border-bottom: none;
    background: transparent;
}

.card .card-header .title {
    color: #fff;
}

.card .card-header .nav-tabs {
    padding: 0;
}

.card .card-header.card-header-image .card-title {
    position: absolute;
    bottom: 1px;
    left: 15px;
    color: #fff;
    font-size: 1.125rem;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .card-header.card-header-image.no-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card .card-header.card-header-image.no-shadow.shadow-normal {
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-header.card-header-image.no-shadow .colored-shadow {
    display: none !important;
}

.card .card-header-danger .card-text,
.card .card-header-danger:not(.card-header-icon):not(.card-header-text) {
    background: linear-gradient(60deg, #00205b, #00205b);
}

.card .card-header-info .card-text,
.card .card-header-info:not(.card-header-icon):not(.card-header-text) {
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.card .card-header-success .card-icon,
.card .card-header-success:not(.card-header-icon):not(.card-header-text),
.card .card-header-success .card-text {
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.card [class*="card-header-"],
.card[class*="bg-"] {
    color: #fff;
}

.card [class*="card-header-"] .card-title a,
.card [class*="card-header-"] .card-title,
.card [class*="card-header-"] .icon i,
.card[class*="bg-"] .card-title a,
.card[class*="bg-"] .card-title,
.card[class*="bg-"] .icon i {
    color: #fff;
}

.mat-button {
    background-color: #00205b;
    color: white;
}

mat-icon-button {
    cursor: pointer !important;
}

.mat-icon-button {
    color: #00205b;
}

.mat-icon-button:hover {
    color: #f1971b;
}

.tool-input-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
