<div class="container" style="margin-top: 50px;">
  <table class="table table-bordered">
    <thead class="table-success">
      <tr>
        <th scope="col">Quality Attribute</th>
        <th scope="col center">Tool Info</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of toolDetailService.Tools; let i = index">
        <td>{{t.qualityAttribute}}</td>
        <td>{{t.toolInfo}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>


<form [formGroup]="toolForm" (ngSubmit)="onSubmit(toolForm)">

  <input type="hidden" class="form-control" id="_id" formControlName="_id">

  <br>


  <div class="example-container-four">
    <mat-form-field appearance="fill">
      <input matInput class="form-control" formControlName="qualityAttribute" id="qualityAttribute"
        placeholder="Quality Attribute">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <input matInput class="form-control" formControlName="toolInfo" id="toolInfo" placeholder="Tool Info">
    </mat-form-field>
  </div>

  <div class="example-container-three">
    <button mat-raised-button color="primary" type="submit">Save Tool</button>
  </div>

  

</form>
<br>
  <br>