<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" align="center">Quality Plans</h4>
                    </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                        <th scope="col">Quality Plan Name</th>
                                        <th scope="col" class="text-center">Operation</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let qp of qualityPlanService.qualityPlans">
                                        <td scope="row">{{qp.qualityPlanName}}</td>
                                        <td class="text-center">
                                            <button mat-icon-button (click)="onView(qp)">
                                                <mat-icon>preview</mat-icon>
                                              </button>                
                                            <button mat-icon-button (click)="onEdit(qp)">
                                                <mat-icon>edit</mat-icon>
                                              </button>
                                            <button mat-icon-button  (click)="onDelete(qp._id)">
                                                <mat-icon>delete</mat-icon>
                                              </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  










<!-- <div class="container" style="margin-top: 40px;">
    <table class="table table-bordered">
        <thead class="table-success">
        <tr>
            <th scope="col">Quality Plan Name</th>
               <th scope="col center">Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let qp of qualityPlanService.qualityPlans">
            <td scope="row">{{qp.qualityPlanName}}</td>
            <div class="maticon">
            <td class="text-center">
                <button mat-icon-button color="primary" (click)="onView(qp)">
                    <mat-icon>preview</mat-icon>
                  </button>                
                <button mat-icon-button color="primary" (click)="onEdit(qp)">
                    <mat-icon>edit</mat-icon>
                  </button>
                <button mat-icon-button color="primary" (click)="onDelete(qp._id)">
                    <mat-icon>delete</mat-icon>
                  </button>
            </td>
        </div>
        </tr>
    </tbody>
</table>

</div>
<br>

<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
    <br>
    <div class="example-container-three">
        <mat-form-field>
            <input [readonly]="isReadOnly" type="text" class="form-control" id="qualityPlanName"
                formControlName="qualityPlanName" matInput placeholder="Quality Plan Name"
                value="{{data.qualityPlanName}}">

        </mat-form-field>
    </div>
    <br>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Characterization of Context
                </mat-panel-title>
            </mat-expansion-panel-header>

    <div class="example-container">

        <mat-grid-list cols="4" rowHeight="100px">

            <mat-grid-tile>
                <mat-form-field>
                    <input [readonly]="isReadOnly" type="text" class="form-control" id="testObject"
                        formControlName="testObject" matInput placeholder="Test Object" value="{{data.testObject}}">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <input [readonly]="isReadOnly" type="text" class="form-control" id="testItem"
                        formControlName="testItem" matInput placeholder="Test Item" value="{{data.testItem}}">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <input [readonly]="isReadOnly" type="text" class="form-control" id="testSuite"
                        formControlName="testSuite" matInput placeholder="Test Suite" value="{{data.testSuite}}">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-select matInput placeholder="Test Level" class="form-control" id="testLevels"
                        formControlName="testLevels" value="{{data.testLevels}}">
                        <mat-option *ngFor="let testLevel of qpa.testLevelsArray" value="{{testLevel}}">
                            {{testLevel}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-select matInput placeholder="Test Case Type" class="form-control" id="testCaseType"
                        formControlName="testCaseType" value="{{data.testCaseType}}">
                        <mat-option *ngFor="let tct of qpa.testCaseTypeArray" value="{{tct}}">
                            {{tct}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-select matInput placeholder="Development Phase" class="form-control" id="developmentPhase"
                        formControlName="developmentPhase" value="{{data.developmentPhase}}">
                        <mat-option *ngFor="let dpa of qpa.developmentPhaseArray" value="{{dpa}}">
                            {{dpa}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <input [readonly]="isReadOnly" type="text" class="form-control" id="sourceTestingFramework"
                        formControlName="sourceTestingFramework" matInput placeholder="Source Testing Framework"
                        value="{{data.sourceTestingFramework}}">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <input [readonly]="isReadOnly" type="text" class="form-control" id="targetTestingFramework"
                        formControlName="targetTestingFramework" matInput placeholder="Target Testing Framework"
                        value="{{data.sourceTestingFramework}}">
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
    </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Identification of Information Needs
                </mat-panel-title>
            </mat-expansion-panel-header>

    <div class="example-container-two" formArrayName="goalArray"
        *ngFor="let item of editForm.get('goalArray').controls; let i=index;">

        <mat-grid-list cols="6" rowHeight="100px">
            <div [formGroupName]="i">

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Object of Study" class="form-control"
                            formControlName="objectOfStudy" id="objectOfStudy">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select matInput placeholder="Purpose" class="form-control" id="purpose"
                            formControlName="purpose">
                            <mat-option *ngFor="let pa of qpa.purposeArray" value="{{pa}}">
                                {{pa}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input class="form-control" formControlName="qualityFocus" id="qualityFocus" matInput
                            placeholder="Quality Focus">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input class="form-control" formControlName="viewpoint" id="viewpoint" matInput
                            placeholder="Viewpoint">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input class="form-control" formControlName="context" id="context" matInput
                            placeholder="Context">
                    </mat-form-field>
                </mat-grid-tile>

            </div>
        </mat-grid-list>
    </div>


    <div formArrayName="questionArray" *ngFor="let item of editForm.get('questionArray').controls; let i=index;">
        <div class="example-container-four" [formGroupName]="i">
            <mat-form-field>
                <input matInput placeholder="Question {{i+1}}" class="form-control" formControlName="question" id="question">

            </mat-form-field>
        </div>
    </div>
</mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Definition of Quality Understanding
            </mat-panel-title>
        </mat-expansion-panel-header>


        <div formArrayName="QualityCharacteristics">
            <div *ngFor="let item of editForm['controls'].QualityCharacteristics['controls']; let iqc=index;">
                <div formGroupName="{{iqc}}" class="QualityCharacteristics">
                    <mat-form-field>
                        <mat-select matInput placeholder="Quality Characteristic"
                            formControlName="qualityCharacteristic">
                            <mat-option *ngFor="let qc of qpa.QualityCharacteristics1" value="{{qc}}">
                                {{qc}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div formArrayName="qualitySubCharacteristics">
                        <div *ngFor="let item2 of item['controls'].qualitySubCharacteristics['controls']; let iqsc=index">
                            <div formGroupName="{{iqsc}}" class="qualitySubCharacteristics">
                            <mat-form-field>
                                <mat-select matInput placeholder="Quality Sub Characteristic"
                                    formControlName="qualitySubCharacteristic">
                                    <mat-optgroup *ngFor="let qualityaspect of qualityAspects"
                                        [label]="qualityaspect.qc">
                                        <mat-option *ngFor="let qualitySC of qualityaspect.qbc"
                                            value="{{qualitySC}}">
                                            {{qualitySC}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                            </mat-form-field>

                            <div formArrayName="qualityAttributes">
                                <div *ngFor="let item3 of item2['controls'].qualityAttributes['controls']; let iqa=index">
                                    <div formGroupName="{{iqa}}" class="qualityAttributes">

                            <mat-form-field>
                                <input matInput class="form-control" formControlName="qualityAttribute"
                                    id="qualityAttribute" placeholder="Quality Attribute">

                            </mat-form-field>
                            </div>
                            </div>
                            </div>   
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</mat-expansion-panel>
</mat-accordion>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Definition of Measurements
            </mat-panel-title>
  </mat-expansion-panel-header>

  <br>
    <div class="example-container-three">
        <mat-form-field>
            <input [readonly]="isReadOnly" type="text" class="form-control" id="thresholdValue"
                formControlName="thresholdValue" matInput placeholder="Threshold Score"
                value="{{data.thresholdValue}}">

        </mat-form-field>
    </div>
    <br>

    <div formArrayName="measurementArray" *ngFor="let item of editForm.get('measurementArray').controls; let i=index;">
        <div class="example-container-four" [formGroupName]="i">
            <mat-form-field>
                <input matInput class="form-control" formControlName="name" id="name" placeholder="Name">
            </mat-form-field>
            <br>

            <mat-form-field>
                <input matInput class="form-control" formControlName="informalDefinition" id="informalDefinition"
                    placeholder="Informal Definition">
                <textarea matInput></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-select matInput placeholder="Measurement Type" class="form-control" id="measurementType"
                    formControlName="measurementType">
                    <mat-option *ngFor="let mt of qpa.measurementTypeArray" value="{{mt}}">
                        {{mt}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" formControlName="measurementMethod" id="measurementMethod"
                    placeholder="Measurement Method">
                <textarea matInput></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-select matInput placeholder="Scale Type" class="form-control" id="scaleType"
                    formControlName="scaleType">
                    <mat-option *ngFor="let st of qpa.scaleTypeArray" value="{{st}}">
                        {{st}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" formControlName="scaleRange" id="scaleRange"
                    placeholder="Scale Range">
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" formControlName="interpretation" id="interpretation"
                    placeholder="Interpretation">
            </mat-form-field>

        </div>
    </div>
</mat-expansion-panel>
</mat-accordion>

    <br>
    <br>
    <div class="example-container-three">

        <button [disabled]="buttonDisable" mat-raised-button color="primary" type="submit">Save Plan</button>
    </div>


</form> -->
