<table align="center">
    <thead>
        <tr>
            <th>Quality Plan</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Operation</th>
        </tr>
    </thead>
    <tr *ngFor="let qp of qualityPlanService.qualityPlans">
        <td align="center">{{qp.qualityPlanName}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button mat-raised-button color="primary" (click)="onView(qp)">View</button>
        </td>
        <td>
            <button mat-raised-button color="primary" (click)="onEdit(qp)">Edit</button>
        </td>
        <td>
            <button mat-raised-button color="primary" (click)="onDelete(qp._id)">Delete</button>
        </td>
    </tr>

</table>

<br>


<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">

    <br>

    <div class="example-container-three">
        <mat-form-field>
            <input [readonly]="isReadOnly" type="text" class="form-control" id="qualityPlanName" formControlName="qualityPlanName" matInput
                placeholder="Quality Plan Name" value="{{data.qualityPlanName}}">

        </mat-form-field>
    </div>
<br>
    <!-- <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Characterization of Context
                </mat-panel-title>
                <mat-panel-description>
                    Please input Context Factors
                </mat-panel-description>
            </mat-expansion-panel-header> -->

            <div class="example-container">

                <mat-grid-list cols="4" rowHeight="100px">

                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="testObject" formControlName="testObject"
                                matInput placeholder="Test Object" value="{{data.testObject}}">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="testItem" formControlName="testItem" matInput
                                placeholder="Test Item" value="{{data.testObject}}">
                        </mat-form-field>
                    </mat-grid-tile>

                 <!--    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="testSuite" formControlName="testSuite" matInput
                                placeholder="Test Suite" value="{{data.testObject}}">
                        </mat-form-field>
                    </mat-grid-tile> -->

                    <!-- <mat-grid-tile>
                        <mat-form-field>
                            <mat-select matInput placeholder="Test Level" class="form-control" id="testLevels"
                                formControlName="testLevels" value="{{data.testLevels}}">
                                <mat-option *ngFor="let testLevel of qpa.testLevelsArray" value="{{testLevel}}">
                                    {{testLevel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile> -->

                    <!-- <mat-grid-tile>
                        <mat-form-field>
                            <mat-select [readonly]="isReadOnly" matInput placeholder="Test Case Type" class="form-control" id="testCaseType"
                                formControlName="testCaseType">
                                <mat-option *ngFor="let tct of qpa.testCaseTypeArray" value="{{tct}}">
                                    {{tct}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select [readonly]="isReadOnly" matInput placeholder="Development Phase" class="form-control"
                                id="developmentPhase" formControlName="developmentPhase">
                                <mat-option *ngFor="let dpa of qpa.developmentPhaseArray" value="{{dpa}}">
                                    {{dpa}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="sourceTestingFramework"
                                formControlName="sourceTestingFramework" matInput
                                placeholder="Source Testing Framework">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="targetTestingFramework"
                                formControlName="targetTestingFramework" matInput
                                placeholder="Target Testing Framework">
                        </mat-form-field>
                    </mat-grid-tile> -->

                </mat-grid-list>
            </div>
        <!-- </mat-expansion-panel>
    </mat-accordion> -->


    <br>
    <br>
    <div class="example-container-three">
       
        <button [disabled]="buttonDisable" mat-raised-button color="primary" type="submit">Save Plan</button>
    </div>




</form>



<!-- <form #updateQualityPlanForm="ngForm" (ngSubmit)="onSubmit(updateQualityPlanForm)">

    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="qualityPlanService.selectedQualityPlan._id">

    <br>

    <div class="example-container-three">
        <mat-form-field>
            <input type="text" name="qualityPlanName" #name="ngModel"
                [(ngModel)]="qualityPlanService.selectedQualityPlan.qualityPlanName" matInput
                placeholder="Quality Plan Name">
        </mat-form-field>

    </div>
    
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Characterization of Context
                </mat-panel-title>

            </mat-expansion-panel-header>


            <div class="example-container">

                <mat-grid-list cols="4" rowHeight="100px">

                    <mat-grid-tile>

                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" name="testObject" #name="ngModel"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.testObject" matInput
                                placeholder="Test Object">
                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile>

                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" name="testItem" #name="ngModel"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.testItem" matInput
                                placeholder="Test Item">
                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile>

                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" name="testSuite" #name="ngModel"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.testSuite" matInput
                                placeholder="Test Suite">
                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile>

                        <mat-form-field>

                            <mat-select [disabled]="isReadOnly" matInput placeholder="Test Level"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.testLevels" name="testLevels">
                                <mat-option *ngFor="let testLevel of qpa2.testLevelsArray" value="{{testLevel}}">
                                    {{testLevel}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                    </mat-grid-tile>
                    <mat-grid-tile>

                        <mat-form-field>

                            <mat-select [disabled]="isReadOnly" matInput placeholder="Test Case Type"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.testCaseType" name="testCaseType">
                                <mat-option *ngFor="let tct of qpa2.testCaseTypeArray" value="{{tct}}">
                                    {{tct}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile>

                        <mat-form-field>

                            <mat-select [disabled]="isReadOnly" matInput placeholder="Development Phase"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.developmentPhase"
                                name="developmentPhase">
                                <mat-option *ngFor="let dp of qpa2.developmentPhaseArray" value="{{dp}}">
                                    {{dp}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" name="sourceTestingFramework" #name="ngModel"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.sourceTestingFramework" matInput
                                placeholder="Source Testing Framework">
                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile>

                        <mat-form-field>
                            <input [readonly]="isReadOnly" type="text" name="targetTestingFramework" #name="ngModel"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.targetTestingFramework" matInput
                                placeholder="Target Testing Framework">
                        </mat-form-field>

                    </mat-grid-tile>
                </mat-grid-list>



            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Identification of Information Needs
                </mat-panel-title>

            </mat-expansion-panel-header>
            <h2 align="center">Goals</h2>
            <div class="example-container">
                <mat-grid-list cols="5" rowHeight="100px"
                    *ngFor="let goal of qualityPlanService.selectedQualityPlan.goalArray; let i = index">
                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.goalArray[i].objectOfStudy"
                                name="{{qualityPlanService.selectedQualityPlan.goalArray[i].objectOfStudy}}"
                                placeholder="Object of Study">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select [disabled]="isReadOnly" matInput placeholder="Purpose"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.goalArray[i].purpose"
                                name="{{qualityPlanService.selectedQualityPlan.goalArray[i].purpose}}">
                                <mat-option *ngFor="let pa of qpa2.purposeArray" value="{{pa}}">
                                    {{pa}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.goalArray[i].qualityFocus"
                                name="{{qualityPlanService.selectedQualityPlan.goalArray[i].qualityFocus}}"
                                placeholder="Quality Focus">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.goalArray[i].viewpoint"
                                name="{{qualityPlanService.selectedQualityPlan.goalArray[i].viewpoint}}"
                                placeholder="Viewpoint">
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.goalArray[i].context"
                                name="{{qualityPlanService.selectedQualityPlan.goalArray[i].context}}"
                                placeholder="Context">
                        </mat-form-field>
                    </mat-grid-tile>

                </mat-grid-list>
            </div>
            <h2 align="center">Questions</h2>

            <div class="example-container-four" *ngFor="let question of qualityPlanService.selectedQualityPlan.questionArray; let i = index">

                        <mat-form-field appearance="fill">
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.questionArray[i].question"
                                name="{{qualityPlanService.selectedQualityPlan.questionArray[i].question}}"
                                placeholder="Question">
                        </mat-form-field>
            </div>


        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Definition of Quality Understanding
                </mat-panel-title>

            </mat-expansion-panel-header>

            <div class="example-container">
                <mat-grid-list cols="5" rowHeight="100px"
                    *ngFor="let qualityFactor of qualityPlanService.selectedQualityPlan.qualityFactorArray; let i = index">
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select [disabled]="isReadOnly" matInput placeholder="Quality Characteristic"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.qualityFactorArray[i].qualityCharacteristic"
                                name="{{qualityPlanService.selectedQualityPlan.qualityFactorArray[i].qualityCharacteristic}}">
                                <mat-option *ngFor="let qc of qpa2.qualityCharacteristicArray" value="{{qc}}">
                                    {{qc}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-select [disabled]="isReadOnly" matInput placeholder="Quality Sub Characteristic"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.qualityFactorArray[i].qualitySubCharacteristic"
                                name="{{qualityPlanService.selectedQualityPlan.qualityFactorArray[i].qualitySubCharacteristic}}">
                                <mat-optgroup *ngFor="let qualityaspect of qualityAspects" [label]="qualityaspect.qc">
                                    <mat-option *ngFor="let qualitySC of qualityaspect.qbc" value="{{qualitySC}}">
                                        {{qualitySC}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.qualityFactorArray[i].qualityAttribute"
                                name="{{qualityPlanService.selectedQualityPlan.qualityFactorArray[i].qualityAttribute}}"
                                placeholder="Quality Attribute">
                        </mat-form-field>
                    </mat-grid-tile>


                </mat-grid-list>
            </div>

        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Definition of Measurements
                </mat-panel-title>

            </mat-expansion-panel-header>

            <div class="example-container-four" *ngFor="let qualityFactor of qualityPlanService.selectedQualityPlan.measurementArray; let i = index">
    
                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.measurementArray[i].name"
                                name="{{qualityPlanService.selectedQualityPlan.measurementArray[i].name}}"
                                placeholder="Name">
                        </mat-form-field>

                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.measurementArray[i].informalDefinition"
                                name="{{qualityPlanService.selectedQualityPlan.measurementArray[i].informalDefinition}}"
                                placeholder="Informal Definition">
                                <textarea matInput></textarea>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select [disabled]="isReadOnly" matInput placeholder="Measurement Type"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.measurementArray[i].measurementType"
                                name="{{qualityPlanService.selectedQualityPlan.measurementArray[i].measurementType}}">
                                <mat-option *ngFor="let mt of qpa2.measurementTypeArray" value="{{mt}}">
                                    {{mt}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.measurementArray[i].measurementMethod"
                                name="{{qualityPlanService.selectedQualityPlan.measurementArray[i].measurementMethod}}"
                                placeholder="Measurement Method">
                                <textarea matInput></textarea>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select [disabled]="isReadOnly" matInput placeholder="Scale Type"
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.measurementArray[i].scaleType"
                                name="{{qualityPlanService.selectedQualityPlan.measurementArray[i].scaleType}}">
                                <mat-option *ngFor="let st of qpa2.scaleTypeArray" value="{{st}}">
                                    {{st}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.measurementArray[i].scaleRange"
                                name="{{qualityPlanService.selectedQualityPlan.measurementArray[i].scaleRange}}"
                                placeholder="Scale Range">
                        </mat-form-field>

                        <mat-form-field>
                            <input [readonly]="isReadOnly" matInput
                                [(ngModel)]="qualityPlanService.selectedQualityPlan.measurementArray[i].interpretation"
                                name="{{qualityPlanService.selectedQualityPlan.measurementArray[i].interpretation}}"
                                placeholder="Interpretation">
                        </mat-form-field>


            </div>

        </mat-expansion-panel>
    </mat-accordion>

   

    <br>
    <br>
    <div class="example-container-three">
        <button [disabled]="buttonDisable" mat-raised-button color="warn" type="button"
            (click)="reset(qualityPlanForm)">Reset</button>
        <br>
        <button [disabled]="buttonDisable" mat-raised-button color="primary" type="submit">Save Plan</button>
    </div>


</form> -->