.active{
    color: red;
    font-weight: bold;
}
  mat-drawer {
    width: 270px;
  }

  
  mat-drawer-container {
    height: 100%;
    background-color: #ededed;    ;
  }
  
  mat-drawer-content {
    padding: 20px;
  }

  
