<mat-toolbar>
    <span>Test Case Quality Plan</span>
    
    <div class="spacer"></div>
    <a mat-button routerLink="Quality Plans">Quality Plans</a>
    <a mat-button routerLink="Create Quality Plan">Create Quality Plan</a>
    <a mat-button routerLinkActive="active" class="nav-link" routerLink="/results-list">Executions</a>
    <a mat-button routerLinkActive="active" class="nav-link" routerLink="/add-result">Upload Execution</a>
    <a mat-button class="navbar-brand" href="/">Dashboard</a>
    
</mat-toolbar>