<mat-nav-list>

    <a mat-list-item routerLinkActive="active" routerLink="home">
        <a class="fa fa-home"></a>&nbsp;Home</a>

    <h2 matSubheader>QUALITY PLANS</h2>

    <a mat-list-item class="sub-item" routerLinkActive="active" routerLink="/create-quality-plan">
        <a class="fa fa-plus-square"></a>&nbsp;Create Quality Plan</a>
    <a mat-list-item class="sub-item" routerLinkActive="active" routerLink="/quality-plans">
        <a class="fa fa-list"></a>&nbsp;List of Quality Plans</a>

    <h2 matSubheader>QUALITY ASSESSMENTS</h2>
    <a mat-list-item class="sub-item" routerLinkActive="active" routerLink="/add-result">
        <a class="fa fa-plus-square"></a>&nbsp;Add Assessment Result</a>
    <a mat-list-item class="sub-item" routerLinkActive="active" routerLink="/results-list">
        <a class="fa fa-list"></a>&nbsp;List of Assessment Results</a>


    <h2 matSubheader>OTHER</h2>
    <a mat-list-item class="sub-item" routerLinkActive="active" routerLink="/documentation">
        <a class="fa fa-book"></a>&nbsp;Documentation</a>
    <a mat-list-item class="sub-item" routerLinkActive="active" routerLink="/tools">
        <a class="fa fa-wrench"></a>&nbsp;Tools</a>

</mat-nav-list>
