.main-header-row {
    display: block;
    height: 90px;
}

.tcqa-logo {
    padding: 10px;
    display: block;
    float: left;
}

.tcqa-text {
    padding-top: 35px;
    color: #00205B;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    float: left;
}

.tcqa-text span {
    display: block;
    float: left;
}

.sicp-text {
    padding-right: 15px;
    padding-top: 25px;
    color: #00205B;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    float: right;
}

.sicp-logo {
    padding-top: 15px;
    padding-right: 15px;
    display: block;
    float: right;
}

.sicp-text span {
    display: block;
    float: right;
}