<!-- <div class="header">
    <img src="assets/images/sicp.png" alt="logo" />
  </div>
  <div class=" small-12 medium-6 columns">
    <span class="pagetitle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Software Innovation </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Campus Paderborn</font></font></span>
</div> -->

<div class="row">
    <div class="header">
        <img src="assets/images/sicp.png" alt="logo" />

    </div>
    <div class="header2">
        <span>Software Innovation</span>
        <br>
        <span>Campus Paderborn</span>
    </div>
</div>