.header {
padding-top: 0.5cm;
padding-bottom: 1cm;
padding-left: 2cm;
  width: 40px;
  height: 40px;
}

.header2 {
    padding-top: 0.7cm;
    padding-left: 30cm;
      color: #00205B;
      font-size: 1.25rem;
      font-weight: 500;
      display: inline-block;
      text-transform: uppercase;
    }

