.main-header-row {
    display: block;
    height: 90px;
}

.sicp-logo {
    padding-top: 15px;
    padding-left: 25px;
    width: 40px;
    height: 40px;
    display: block;
    float: left;
}

.sicp-text {
    padding-top: 15px;
    padding-right: 25px;
    color: #00205B;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    float: right;
}

.sicp-text span {
    display: block;
    float: right;
}